.row {
    margin-top:10px
}
#chess-table {
    width: 80vmin;
    border:1px solid black;
    margin: 0 auto;
}
#chess-table td:hover {
    border: none;
}
#chess-table td {
    width: 10vmin;
    height:10vmin;
    text-align: center;
    font-size: 32px;
    border: none;
}
.black-board, .black-board #chess-table td i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
#chess-table td.black {
    background-color: #825201;
}
#chess-table td.white {
    background-color: #b69b46;
}
#chess-table td.mark {
    border: 2px solid blue !important;
}
.fa.b {
    color:#000;
}
.fa.w {
    color:#fff;
}

